@import "basic/variables";


@import "basic/debug";

/*-----|| fonts ||----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/




/*-----|| custom global definitions ||-----------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

html, body {
	margin: 0;
	background-color: $cl-main;
	color: $cl-font;
}

main {
	padding: 0px 20px;
	> .inner {
		max-width: $doc-width;
		margin: 0px auto;
		padding: 20px 0px;
	}
}

.main-flex {
	display: flex;
	justify-content: flex-start;
}

.flex {
	display: flex;
}

.col- {
	&1 {
		max-width: $doc-width / 4;
		width: $doc-width / 4;
	}
	&2 {
		max-width: $doc-width / 2;
		width: $doc-width / 2;
	}
	&3 {
		max-width: ($doc-width / 4) * 3;
		width: ($doc-width / 4) * 3;
	}
	&4 {
		max-width: $doc-width;
		width: $doc-width;
	}
}

.module {
	padding: 10px;

}

.button, button {
	background-color: $cl-main;
	border: 1px $cl-grey solid;
	padding: 4px 8px;
	margin-right: 2px;
	color: $cl-grey;
	cursor: pointer;

	&:hover {
		background-color: $cl-main-dark;
	}

	&.active {
		background-color: $cl-main-black;
		border: 1px $cl-grey solid;
	}
}


/*-----|| import content ||----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@import "templates/header";
@import "templates/navigation";
@import "templates/footer";

@import "modules/clock";
@import "modules/calendar";
@import "modules/dice";

@import "modules/customrules";
@import "modules/item-list";
@import "modules/map";
@import "modules/player-list";
@import "modules/rulesearch";
@import "modules/writing";