.module[module=clock] {
	> .inner {

	}

	.clock-digits {
		font-family: $font-tech;
		font-size: $font-supersize;
	}

	.tabbar {

		.tabnav {
			
			> .inner {

			}

			.nav-point {
				background-color: $cl-main;
				border: 1px $cl-grey solid;
				padding: 4px 8px;
				margin-right: 2px;
				cursor: pointer;

				&:hover {
					background-color: $cl-main-dark;
				}

				&.active {
					background-color: $cl-main-black;
					border: 1px $cl-grey solid;
				}
			}

		}

		.elements {
			.element {
				overflow: hidden;
				max-height: 0px;

				opacity: 0;

				transition: opacity 300ms linear, max-height 300ms linear;
				&.active {
					max-height: 160px;
					opacity: 1;
				}
			}
		}
	}

	.element[submodule=clock] {
		.clock-wrap {

		}

		.clock-display {
			border: 1px $cl-grey solid;
			> .flex {
				justify-content: space-evenly;
				> div {padding-bottom: 12px;}
			}
			div > .flex {
				justify-content: center;
				> div {
					margin: 0px 6px;
				}
			}
			.overline {
				font-size: $font-xs;
				margin-bottom:4px;
				text-align: center;
			}
			button {
				background-color: $cl-main;
				border: 1px $cl-grey solid;
				color: $cl-font;
				cursor:pointer;
				margin: 0px 8px;
				font-family: $font-tech;

				&:nth-child(3) {
					margin-left: 52px;
				}

				&:hover {
					background-color: $cl-main-dark;
				}
			}
			div[task=control-add] {
				margin-bottom: 4px;
			}
			div[task=control-sub] {
				margin-top: -4px;
			}

			div[type=ot] {
				padding-left: 14px;
				border-left: 1px $cl-grey solid;
				.flex {
					margin-top: 24px;
				}
			}
		}
	}

	.element[submodule=stopwatch] {
		.stopwatch-wrap.flex {
			
			border: 1px $cl-grey solid;
		}

		.stopwatch-control {
			padding: 20px;
			.flex {
				flex-direction: column;
			}
			div[name=stopwatch-start] {
				display: none;
			}

			&.paused {
				div[name=stopwatch-start] {
					display: block;
				}
				div[name=stopwatch-stop] {
					display: none;
				}
			}
		}

		.stopwatch-display {
			padding: 20px;
			.hour-count {
				
				div {
					border-bottom: 1px $cl-grey solid;
					width: calc(100% / 10 - 4px);
					margin: 0px 2px;
					height: 4px;
					.active {
						background-color: $cl-grey;
					}
					&:nth-child(5) {
						margin-right: 4px;
					}
					&:nth-child(6) {
						margin-left: 4px;
					}
				}
				
			}
		}
	}

}